## Librería Pandas
Como crear nuevas clumnas a partir de funciones condicionales

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [16]:
array_gaus = np.random.normal(3,1,1000000)
df = pd.DataFrame(data=array_gaus, columns=["Valores"])

In [11]:
df

         Valores
0       3.801771
1       3.183058
2       3.021595
3       2.601504
4       3.893110
...          ...
999995  2.298658
999996  2.234587
999997  2.334073
999998  4.210613
999999  2.267504

[1000000 rows x 1 columns]

In [17]:
def supinf(x):
    if x>3:
        z = "Valor mayor que la media"
    else:
        z = "Valor menor que la media"
    return z

In [18]:
df["Chequeo"]=df["Valores"].apply(supinf)

In [19]:
df

         Valores                   Chequeo
0       2.679733  Valor menor que la media
1       1.853950  Valor menor que la media
2       1.158537  Valor menor que la media
3       1.324490  Valor menor que la media
4       3.191215  Valor mayor que la media
...          ...                       ...
999995  3.352181  Valor mayor que la media
999996  3.077421  Valor mayor que la media
999997  2.813242  Valor menor que la media
999998  4.366568  Valor mayor que la media
999999  4.217966  Valor mayor que la media

[1000000 rows x 2 columns]

In [20]:
df["Chequeo2"] = np.where(df["Valores"]>3,"Valor mayor que la media","Valor menor que la media")

In [21]:
df

         Valores                   Chequeo                  Chequeo2
0       2.679733  Valor menor que la media  Valor menor que la media
1       1.853950  Valor menor que la media  Valor menor que la media
2       1.158537  Valor menor que la media  Valor menor que la media
3       1.324490  Valor menor que la media  Valor menor que la media
4       3.191215  Valor mayor que la media  Valor mayor que la media
...          ...                       ...                       ...
999995  3.352181  Valor mayor que la media  Valor mayor que la media
999996  3.077421  Valor mayor que la media  Valor mayor que la media
999997  2.813242  Valor menor que la media  Valor menor que la media
999998  4.366568  Valor mayor que la media  Valor mayor que la media
999999  4.217966  Valor mayor que la media  Valor mayor que la media

[1000000 rows x 3 columns]